body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E2F5DC; /* fondo verde claro */
}
header {
    background-color: #002b5b; /* azul oscuro */
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
}
main {
    padding: 40px;
}

.instruccion {
    font-weight: bold;
    margin-bottom: 20px;
}

.boton-add {
  background-color: #007bff; 
  border: none;
  border-radius: 15px;
  padding: 5px; 
  color: white;
  font-size: 20px; 
  cursor: pointer;
  width: 150px;
  height: 150px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}
.boton-add img {
  width: 80px;
  height: 80px;
}

.boton-encuesta:hover {
    transform: scale(1.05);
}

/* Estilos para el botón de cerrar sesión */
.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #c82333;
}